{{#container}}
<ul class="D_summaryList">
</ul>
{{/container}} 

{{#noResults}}
<li class="D_group D_narrow" style="margin-bottom: 10px;padding-bottom: 10px;">
    <div class="D_info">
        <div class="D_name ellipsis">
            <span>No meetups</span>
        </div>
    </div>
</li>
{{/noResults}}

{{#list}}
<li id="group{{__id}}" class="D_group D_narrow" {{#isOrganise}}style="height:55px;"{{/isOrganise}}>
    <div class="D_info">
        <div class="D_name ellipsis">
            <a href="javascript:void(0);" title="{{title}}" itemprop="title" data-id="{{__id}}">{{title}}</a>
        </div>
        <div class="D_less">
            {{formattedDate}}
        </div>
        {{#isOrganise}}
        <div class="D_less">
            <span style="float:left;color: #888;"><em>{{no_of_attendees}}</em> attending</span>
            <!--<span style="float:right;color: #888;"><em>20</em> comments</span>-->
        </div>
        {{/isOrganise}}
    </div>
</li>
{{/list}}

{{#add}}
<li class="D_group D_narrow">
    <div class="D_info">
        <div class="D_name ellipsis" style="text-align: right;">
            <a href="javascript:void(0);" title="create new" id="btnAddMeetup">Create new</a>
        </div>
    </div>
</li>
{{/add}}