{{#listContainer}}
<ul id="meetup-list-container" class="event-list clearfix resetList">
    
</ul>
{{/listContainer}}

{{#noResults}}
<ul id="meetup-list-container" class="event-list clearfix resetList">
    <li class="event-item line">
    <div class="event-title" style="text-align: center;">
        <span>
            <span>No meetups found for specified search</span>
        </span>
    </div>
</li>
</ul>
{{/noResults}}

{{#list}}
<li class="event-item line">    
    <div class="event-title">
        <a href="javascript:void(0);" data-id="{{__id}}" itemprop="details">
            <span>{{title}}</span>
        </a>
    </div>
    <div class="event-meta">
        <ul class="resetList">
            <li class="dateTime">
                <time itemprop="startDate" datetime="2012-12-22T10:00:00+05:30">
					<span class="date">{{formattedDate}}</span><br>
					<span class="time">{{time}}</span>
				</time>
            </li>
            <li class="rsvp-callout-outer" {{^isRsvpAllowed}}style="visibility: hidden;"{{/isRsvpAllowed}} id="rsvp{{__id}}">
                <a href="javascript:void(0);" class="rsvp-callout-flip" itemprop="rsvp" data-id="{{__id}}">RSVP 
                <span class="rsvp-callout-flipcard">
                    <span class="rsvp-callout-flipcard-ring"></span>
                    <span class="rsvp-callout-count">{{daysLeft}}</span>
                    <span class="rsvp-callout-leftcopy">{{isMultiple}}<br>left </span>
                </span></a>
            </li>
            <li class="rsvpCount event-count attending-count">
                <span><em id="attendies{{__id}}">{{no_of_attendees}}</em> attending </span>
            </li>
        </ul>
    </div>
    <div class="event-content">
        <span itemprop="location">
            <dl class="event-where">
                <dt class="event-venuename"><span class="no-color">Symbiosis College</span> </dt>
                <dd>
                    {{formatted_address}} (<a href="http://maps.google.com/maps?q={{formatted_address}}" target="_blank">map</a>)
                </dd>
            </dl>
        </span>
            
        <div class="event-desc" itemprop="description">
            {{details}}
            <a href="javascript:void(0);" style="text-transform: uppercase; font-size: 9px" data-id="{{__id}}" itemprop="details">Details</a>
        </div>
        <p class="event-hosts ellipsis">
            <span style="color: #888;">Organised by : </span> {{user.firstname}} {{user.lastname}}
        </p>
    </div>
</li>
{{/list}}

