<div class="span12 mainSection">
    <div class="main-container">
        <div class="row-fluid header-row">
            <div class="column-label">
            </div>
            <div class="column-input">
                <h2 class="font-large">
                    basic meet-up info</h2>
            </div>
        </div>
        <div class="row-fluid form-row">
            <div class="column-label">
                Title
            </div>
            <div class="column-input">
                <input id="txtTitle" type="text" class="input-xxlarge" placeholder="title for the meet-up"
                    data-prettyinput="true" spellcheck="false" />
            </div>
            <div class="column-validation">
                <label for="txtTitle" class="hidden">
                    title is required</label>
            </div>
        </div>
        <div class="row-fluid form-row">
            <div class="column-label">
                Description
            </div>
            <div class="column-input">
                <textarea id="txtDesc" rows="3" class="input-xxlarge" placeholder="describe your meet-up"
                    data-prettyinput="true" spellcheck="false"></textarea>
            </div>
            <div class="column-validation">
                <label for="txtDesc" class="hidden">
                    description is required</label>
            </div>
        </div>
    </div>
</div>
