.leftSection, .midSection, .rightPanel { background-color: #fefefe; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.leftSection { padding: 0px 4px 18px; }
.leftSection li span { font-size: 15px; line-height: 30px; vertical-align: top; padding: 0px 4px; }
.nav-header h2 { font-size: 20px; font-weight: 500; text-transform: none; line-height: 28px; padding: 3px 0 6px; color: #777; }
.midSection { padding: 10px; margin-left: 20px !important; }
.rightSection { padding: 0px; margin-left: 20px !important; }
.rightPanel { padding-bottom: 20px; }
.entity_border { border: 1px solid gainsboro; border-radius: 3px; margin-bottom: 10px; padding: 5px; }
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: default; }


/* meetup listview styles */

.event-list { margin: 0 !important; padding-top: 8px !important; }
.resetList { margin: 0; padding: 0; list-style-type: none; }
.event-item { position: relative; border-bottom: 2px solid #CCC; margin-bottom: 13px; padding: 0 10px; word-wrap: break-word; margin: 0px; padding-top: 10px;  }
.event-item:first-child { padding-top: 0px;}
#meetup-list-container div.event-title { padding: 0 0 4px 0; border-bottom-width: 1px; border-bottom-style: dotted; }
.event-title { font-size: 19px; line-height: 24px; border-bottom-color: #E6E6E6; }
.event-meta { float: right; width: 128px; }
.event-meta ul { padding-top: 6px; }
.event-meta .dateTime { margin-bottom: 10px; }
.event-meta li { padding-top: 0; margin-bottom: 6px; }
.event-meta .date { color: #333; font-size: 14px; }
.event-meta .time { color: #888; font-size: 12px; }
.event-meta .event-count { color: #888; }
.event-meta .attending-count { padding-top: 3px; }
.event-content { border-right: 1px dotted #E6E6E6;  float: left; width: 310px;padding-bottom: 5px; }
.event-item dl.event-where { margin: 6px 0 0; }
.event-venuename { font-size: 14px; }
.event-item .event-where a.no-color:link, .event-item .event-where a.no-color:visited { color: #111; }
.event-item dl.event-where dd { font-size: 12px; color: #888; margin-top: 0; margin-bottom: 0; }
dl dd { margin: .25em 0 1em; }
.event-item .event-desc { margin: 5px 0 0; color: #888; font-size: 12px; }
.event-desc { font-size: 14px; line-height: 1.35em; position: relative; }
.event-item .event-hosts { margin-bottom: 0; margin-top: 10px; }
.event-meta .rsvp-callout-outer { height: 24px; padding: 4px; background-color: #E9EBE5; position: relative; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }
.event-meta .rsvp-callout-outer .rsvp-callout-flip { width: 45px; padding-left: 16px; }
.event-meta .rsvp-callout-outer a { display: block; height: 24px; line-height: 24px; background-color: #F3F4F0; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; }
.rsvp-callout-flipcard { background-color: white; border-right: 1px solid #444; border-bottom: 1px solid #444; box-shadow: 0 0 1px #888; display: block; position: absolute; left: 70px; top: 4px; right: 8px; width: 50px; height: 29px; padding: 3px 4px 0; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; color: black !important; }
.rsvp-callout-flipcard-ring { display: block; position: absolute; background-repeat: no-repeat; background-image: url("images/calendar_ring.png"); width: 21px; height: 12px; left: 20px; top: -6px; }
.rsvp-callout-count { font-size: 20px; font-weight: normal; padding-left: 2px; margin-right: 6px; display: block; float: left; width: 11px; height: 28px; }
.rsvp-callout-leftcopy { display: block; float: left; font-size: 10px; width: 30px; line-height: 1.1; padding-top: 2px; letter-spacing: 0; }
li { list-style: none; }
#meetup-list-container em { color: black;font-style: normal; }
.line::after, .lastUnit::after { clear: both; display: block; visibility: hidden; overflow: hidden; height: 0 !important; line-height: 0; font-size: xx-large; content: ""; speak: none; }

