<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a><a class="brand" href="javascript:void(0);">
            <img src="/Styles/images/logo.png" alt="Connect" />
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical" style="height: 60px"></li>
                <li><a href="javascript:void(0)" class="navbar-anchor"><span class="navbar-anchor">Find</span>
                    <br />
                    <span class="navbar-anchor-sub">a Connect Group</span></a></li>
                <li class="divider-vertical" style="height: 60px"></li>
            </ul>
            <div class="navbar-form pull-right">
                <ul id="ulSignUp" class="nav">
                    <li><a href="javascript:void(0);">Log in</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="javascript:void(0);">Sign up</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
