<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a><a class="brand" href="/index.html">
            <img src="/Styles/images/logo.png" alt="Connect" />
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="divider-vertical" style="height: 60px"></li>
                <li style="padding: 0px 10px;"><a href="javascript:EventManager.fire('showIndexView')" class="navbar-anchor"><span
                    class="navbar-anchor">Find</span>
                    <br />
                    <span class="navbar-anchor-sub">a Meet-Up</span></a></li>
                <li class="divider-vertical" style="height: 60px"></li>
            </ul>
            <div class="navbar-form pull-right">
                <ul id="ulSignUp" class="nav">
                    <li><a href="javascript:void(0);">Log in</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="javascript:void(0);">Sign up</a> </li>
                </ul>
                <ul id="ulUser" class="nav hidden" style="margin-top: 6px;">
                    <li class="dropdown"><a href="#" class="dropdown-toggle navbar-anchor" data-toggle="dropdown">
                        {{fname}} {{lname}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:EventManager.fire('createMeetUp')">Create Meet-Up</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:EventManager.fire('logoutUser')">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
