{{#container}}
<div id="divDetailsHead" class="detailsHead">
</div>
<div id="divCommentsSection">
</div>
{{/container}} {{#details}}
<div>
    <div style="padding: 0px 5px 0px 10px;">
        <h1>
            Come and join the Hackers meetup on the Breach Candy terrace.</h1>
    </div>
    <div style="padding: 0px 5px;" id="event-content">
        <ul class="dividedList">
            <li id="event-when" class="event-stack event-stack-first complete">
                <div class="figureset">
                    <div class="figureset-figure event-stack-icon sprite-event-stack spr-event-stack-calendar margin-bottom">
                    </div>
                    <div class="clearfix figureset-description" id="event-when-display">
                        <time>
                            <p class="headline">Thursday, December 27, 2012</p> <p class="subtext">7:00 PM</p>
                        </time>
                    </div>
                </div>
            </li>
            <li id="event-where" class="event-stack event-where complete">
                <div class="figureset">
                    <div class="figureset-figure event-stack-icon sprite-event-stack spr-event-stack-location margin-bottom">
                    </div>
                    <div class="clearfix figureset-description" id="event-where-display" style="padding-bottom: 10px;">
                        <p class="headline" itemprop="name">
                            <a href="http://maps.google.com/maps?q=Inside+Mona+Apartments%2C+next+to+Sun+Churo%26%23039%3Bs+chocolate+bar+opposite+Gamadia+Road.%2C+Mumbai"
                                target="_blank" title="">8th Floor, Diamond Head, 46B Bhulabhai Desai Road, Breach
                                Candy</a>
                        </p>
                        <p class="event-where-address subtext">
                            Inside Mona Apartments, next to Sun Churo's chocolate bar opposite Gamadia Road.,Mumbai
                        </p>
                        <div>
                            <a target="_blank" href="http://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=1024x768&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:blue%7Clabel:S%7C19.0135,72.845">
                                <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=700x100&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:red%7Clabel:S%7C19.0135,72.845"
                                    width="650" height="100" alt="map img">
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li id="event-desc" class="event-desc">
                <div id="event-description-wrap" class="line">
                    <p style="padding-bottom: 10px;">
                        Come and enjoy the sea view, sea breeze and a few beers with a very interesting
                        group of people. Will be great to meet you all again.</p>
                    <p>
                </div>
            </li>
            <!-- end #event-content -->
        </ul>
    </div>
</div>
{{/details}}