{{#container}}
<div id="divDetailsHead" class="detailsHead">
</div>
<div id="divCommentsSection">
</div>
{{/container}} 

{{#details}}
<div>
    <div style="padding: 0px 5px 0px 10px;">
        <h1 style="padding-bottom: 0px;">{{title}}</h1>
    </div>
    <div style="padding: 0px 5px;" id="event-content">
        <ul class="dividedList">
            <li id="event-desc" class="event-desc" style="padding: 0px; border: none;">
                <div id="event-description-wrap" class="line" style="margin-bottom: 10px;">
                    <p>
                        {{details}}
                    </p>
                    <div class="D_less">
                        <span style="float:right;color: #888;"><em id="attendies">{{no_of_attendees}}</em> attending</span>
                    </div>
                </div>
            </li>
            <li id="event-when" class="event-stack event-stack-first complete">
                <div class="figureset">
                    <div class="figureset-figure event-stack-icon sprite-event-stack spr-event-stack-calendar margin-bottom">
                    </div>
                    <div class="clearfix figureset-description" id="event-when-display" style="float: left">
                        <time>
                            <p class="headline">{{formattedDate}}</p> <p class="subtext">{{time}}</p>
                        </time>
                    </div>

                    <div class="rsvp-callout-outer" id="rsvp{{__id}}" style="display: inline-block; float: right;{{^isRsvpAllowed}}visibility: hidden;{{/isRsvpAllowed}}">
                        <a href="javascript:void(0);" class="rsvp-callout-flip">RSVP <span class="rsvp-callout-flipcard">
                            <span class="rsvp-callout-flipcard-ring"></span>
                            <span class="rsvp-callout-count">{{daysLeft}}</span>
                            <span class="rsvp-callout-leftcopy">{{isMultiple}}<br> left </span></span>
                        </a>
                    </div>
                </div>
            </li>
            <li id="event-where" class="event-stack event-where complete" style="margin-bottom: 12px;">
                <div class="figureset">
                    <div class="figureset-figure event-stack-icon sprite-event-stack spr-event-stack-location margin-bottom">
                    </div>
                    <div class="clearfix figureset-description" id="event-where-display" style="padding-bottom: 10px;">
                        <p class="headline" itemprop="name">
                            <a href="http://maps.google.com/maps?q={{formatted_address}}"
                                target="_blank" title="">{{formatted_address}}</a>
                        </p>
                        <p class="event-where-address subtext">
                            <a href="http://maps.google.com/maps?q={{venue}}"
                                target="_blank" title="">{{venue}}</a>
                        </p>
                        <div>
                            <a target="_blank" href="http://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=1024x768&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:blue%7Clabel:S%7C{{geolocation}}">
                                <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=700x150&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:red%7Clabel:S%7C{{geolocation}}"
                                    width="650" height="100" alt="map img">
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- end #event-content -->
        </ul>
    </div>
</div>
{{/details}}