<div class="sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">
            <h2>
                Search Meet-Ups</h2>
        </li>
        <li><span>within</span>
            <select id="ulRadius" style="width: 70px">
                <option selected="selected">2</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
            <span>miles of</span></li>
        <li style="padding-bottom: 6px;">
            <div class="control-group">
                <input id="txtCity" type="text" placeholder="city name" spellcheck="false" maxlength="100"
                    class="span12" />
            </div>
        </li>
        <li style="text-align: right; padding-bottom: 10px;">
            <button id="btnSearch" class="btn btn-primary">
                Go</button></li>
    </ul>
</div>
