<div class="sidebar-nav" style="padding-left: 3px;">
    <ul class="nav nav-list">
        <li>
            <div>
                <div style="padding-top: 10px;">
                    <span>
                        <img src="{{profilePic}}" alt="{{firstname}}" style="border: 10px solid gainsboro;border-radius:3px;" class="photo" width="80" height="60">
                    </span>
                </div>
                <div style="text-align: center;">
                    <div>
                        <span>Organized by </span>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="font-weight: bold;line-height: 10px;">{{firstname}} {{lastname}}</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
