<div class="sidebar-nav">
    <ul class="nav nav-list">
        <li>
            <div>
                <div style="padding-top: 10px;">
                    <span>
                        <img src="http://photos4.meetupstatic.com/photos/event/4/c/9/2/global_151279602.jpeg" alt="" class="photo" width="190" height="140">
                    </span>
                </div>
                <div>
                    <div>
                        <span>Organized by </span>
                    </div>
                    <div style="margin-top: -7px;">
                        <span style="font-weight: bold;">Danny Carroll</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
